<md-content class="login-page">
  <div layout="row" layout-align="end start">
    <md-button class="md-icon-button" ui-sref="events">
      <i class="mdi mdi-close"></i>
    </md-button>
  </div>
  <form name="loginForm">
    <div layout="column">
      <md-input-container class="md-block" flex>
        <label for="email">E-mail</label>
        <input name="email" id="email" ng-model="vm.loginForm.email" ng-required="true" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="loginForm.email.$error">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your e-mail must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label for="pwd">Password</label>
        <input type="password" ng-required="true" name="pwd" id="pwd" ng-model="vm.loginForm.pwd" />
        <div ng-messages="loginForm.pwd.$error">
          <div ng-message="required">Password is required.</div>
        </div>
      </md-input-container>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="vm.loginWithPassword($event)" class="md-raised md-primary">Login</md-button>
        <md-button>Forgot your password?</md-button>
      </section>
    </div>
  </form>
  <div layout="row" layout-align="center start">
    <h4 class="md-title">Social login</h4>
  </div>
  <div layout="row" layout-align="center start">
    <md-button class="md-fab" aria-label="Log in with Facebook account"
               ng-click="vm.login('facebook')">
      <md-tooltip>
        Log in with Facebook account
      </md-tooltip>
      <i class="mdi mdi-facebook-box"></i>
    </md-button>

    <md-button class="md-fab" aria-label="Log in with GitHub account"
               ng-click="vm.login('github')" >
      <md-tooltip>
        Log in with GitHub account
      </md-tooltip>
      <i class="mdi mdi-github-box"></i>
    </md-button>

    <md-button class="md-fab" aria-label="Log in with Google account"
               ng-click="vm.login('google')">
      <md-tooltip>
        Log in with Google account
      </md-tooltip>
      <i class="mdi mdi-google-plus-box"></i>
    </md-button>
  </div>
</md-content>
