<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-list-item class="md-3-line">
      <div class="md-list-item-text">
        <md-button ui-sref="events.list">
          Meet-up planner
        </md-button>
      </div>
    </md-list-item>
    <span flex></span>
    <md-list-item class="md-3-line" ng-show="!vm.user">
      <div class="md-list-item-text">
        <md-button ui-sref="auth.login" ui-sref-opts="{reload:true}">
          <i class="mdi mdi-login"></i>
          Login
        </md-button>
      </div>
      <div class="md-list-item-text">
        <md-button ui-sref="auth.register" ui-sref-opts="{reload:true}">
          <i class="mdi mdi-account-plus"></i>
          Register
        </md-button>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line" ng-show="vm.user" >
      <div class="md-list-item-text profile-header" ui-sref="profile.details({profileId: vm.user.uid})">
        <img class="md-avatar" alt="{{vm.user.displayName}}" ng-src="{{vm.user.photoURL}}"/>
        <md-tooltip>
          Click to view your profile
        </md-tooltip>
      </div>

      <div class="md-list-item-text profile-header" ui-sref="profile.details({profileId: vm.user.uid})">
        <h3>
          <i class="mdi" ng-class="vm.getProviderClass()"></i>
          <span ng-bind="vm.user.displayName"></span>
        </h3>
        <p ng-bind="vm.user.email"></p>
        <md-tooltip>
          Click to view your profile
        </md-tooltip>
      </div>

      <div class="md-list-item-text">
        <md-button ng-click="vm.logout($event)">
          <i class="mdi mdi-logout"></i>
          Logout
        </md-button>
      </div>

    </md-list-item>
  </div>
</md-toolbar>
